name: Publish to crates.io

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Publish rmrfrs-lib to crates.io
        run: cargo publish --manifest-path rmrfrs-lib/Cargo.toml --token ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: Publish rmrfrs to crates.io
        run: cargo publish --manifest-path rmrfrs/Cargo.toml --token ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: Publish rmrfrs-ui to crates.io
        run: cargo publish --manifest-path rmrfrs-ui/Cargo.toml --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
